@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    /* Define color theme */
    --orange: #D98326;
    --light-orange: #F1ECE6;
    --blue: #76B7CD;
    --blue-light: rgba(118, 183, 205, 0.8);
    --gray: #969696;
    --light-gray: #C2C2C2;
    --dark-gray: #737373;
    --black: #323232;
    --red: #B30B04;
    --fw-regular: 400;
    --fw-bold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*::after, *::before {
    box-sizing: border-box;
}
input, button {
    font: inherit;
}
button {
    transition: background-color .2s ease;
}
::placeholder {
    color: var(--gray);
}
.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 0.938em;
}
@media  screen and (min-width: 960px) { /*css for width >= 960px */
    .container {
        padding: 0 1em;
    }
}